div.pageHeader {
    background: #5382a1;
    color: #ffffff;
    width: 80%;
    height: 50px;
    font-size: 40px;
    padding-left: 5px;
    margin: 3px;
    border: 1px solid #000000;
}

div.mainHeader {
    background: #bdbec0;
    color: #ffffff;
    width: 60%;
    min-width: 500px;
    height: 35px;
    font-size: 26px;
    padding-left: 10px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #000000;
    vertical-align: middle;
}

div.subHeader {
    color: #707277;
    font-size: 18px;
    margin-left: 3px;
    border: 1px solid #bdbec0;
    padding: 0px 2px 1px 2px;
    display: table;
}


div.mainDoc {
    width: 75%;
}

div.contents {
}

span.query {
    font-family: monospace;
}

dl {
    margin-left: 15px;
    width: 70%;
    min-width: 550px;

}

dt {
    font-style: italic;
}
